export(allMetrics)
export(allMetricsNull.csv)
export(lengthNonZeros)
export(locationSampler)
export(modified.mpd)
export(phyloNtraits)
export(psc.corr)
export(quadratContents)
export(quadratPlacer)
export(quadratPlotter)
export(scaler)
export(sig.test)
export(simulateComm)
export(simulator)
export(summaries)
export(typeI)
import(ecoPDcorr)
import(grid)
import(phylobase)
